<div class="tabset-container">
  <tabset class="tabset-scrollable">
    <tab heading="A1 kategória">
      <div class="image-container">
        <h4>Yamaha YBR 125</h4>
        <img src="assets/Yamaha-YBR-125.jpg" alt="Yamaha YBR 125">
      </div>
    </tab>
    <tab heading="A kategória">
      <div class="image-container">
        <h4>Yamaha FZ 6-N</h4>
        <img src="assets/yamaha-fz-6n.jpg" alt="Yamaha FZ 6-N">
      </div>
    </tab>
    <tab heading="B kategória">
      <div id="vehicles-info-container">
        <div class="image-container">
          <h4>Ford Fusion</h4>
          <img src="assets/Ford_Fusion_front_20080222.jpg" alt="Ford Fusion">
        </div>
        <div class="image-container">
          <h4>Ford Fiesta</h4>
          <img src="assets/ford_fiesta.jpg" alt="Ford Fiesta">
        </div>
        <div class="image-container">
          <h4>Toyota Yaris</h4>
          <img src="assets/toyota_yaris.jpg" alt="Toyota Yaris">
        </div>
        <div class="image-container">
          <h4>Kia Rio</h4>
          <img src="assets/Kia_Rio.jpg" alt="Kia Rio">
        </div>
      </div>
    </tab>
  </tabset>
</div>