<div id="app-content">
  <nav style="grid-row: 1;" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="aboutus">Student Autósiskola</a>
    <button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav nav">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
            Képzéseink
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem href="courses?course=A1">A1 kategória</a>
            <a ngbDropdownItem href="courses?course=A">A kategória</a>
            <a ngbDropdownItem href="courses?course=B">B kategória</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
            Statisztikáink
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem href="statistics?statistic=hours">Átlagos képzési óraszám</a>
            <a ngbDropdownItem href="statistics?statistic=cost">Átlagos képzési költség</a>
            <a ngbDropdownItem href="statistics?statistic=success">Sikerességi statisztika</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vehicles">Oktató járműveink</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dataprotection">Adatvédelmi tájékoztató</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus">Kapcsolat</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="grid-row: 2;">
    <router-outlet></router-outlet>
  </div>
</div>