<div id="contact-info-container">
    <div id="text-contact-info">
        <p><b>Iskola vezetője: </b>Stahorszkiné Bernáth Márta Katalin</p>
        <p><b>Telephely: </b>4482, Kótaj, Katona Pál utca 24.</p>
        <p><b>Székhely: </b>4482, Kótaj, Katona Pál utca 24.</p>
        <p><b>Ügyfélfogadás: </b></p>
        <p style="padding-left: 8rem;">Hétfő: 18:00-20:00</p>
        <p style="padding-left: 8rem;">Szerda: 18:00-20:00</p>
        <p style="padding-left: 8rem;">Csütörtök: 18:00-20:00</p>
        <p><b>Telefonszám: </b>+36 20 932 5753</p>
        <p><b>E-mail cím: </b>studentautosiskola@gmail.com</p>
    </div>
    <div id="map-contact-info">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2667.2711334637493!2d21.70083631589156!3d48.047102465436566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4738a24e3b98f85f%3A0xd8160c3588587540!2zS8OzdGFqLCBLYXRvbmEgUMOhbCB1LiAyNCwgNDQ4Mg!5e0!3m2!1sen!2shu!4v1569314218027!5m2!1sen!2shu"
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>